html, body, #root, .App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: "Courier New", "Lucida Console", "Consolas", monospace;
  font-size: 14px;

}

h1 {
  font-size: 40px;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
  text-underline-offset: 13px;
}


.UI-container {
  pointer-events: none;
  position: absolute;
  background: rgba(0, 0, 0, 0); /* transparent */
  z-index: 10;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding-left: 30px;
  padding-right: 30px;
}

.left {
  top: 0;
  left: 0;
  width: 35%; 
  height: 100%;
}

.right {
  top: 0;
  right: 0;
  width: 35%; 
  height: 100%;
}

.tooltip {
  position: fixed;
  z-index: 1000;
  color: white;
  background-color: black;
  padding: 5px 8px 3px 8px;
  border: 1px solid white;
  }

/* input, select, textarea, and button do not inherit by defalt */
input, select, textarea, button {
  pointer-events: auto;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;

}

