html, body, #root, .App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Courier New", "Lucida Console", "Consolas", "Times New Roman", monospace;
  font-size: 14px;
}

.tooltip {
  position: fixed;
  z-index: 1000;
  color: white;
  background-color: black;
  padding: 5px 8px 3px 8px;
  border: 1px solid white;
  };

